#URL de l'application, utilisée lors des envois de mail
url http://10.31.176.216

# Informations de connexion MySQL
db_host localhost
db_name db_name
db_login db_login
db_password db_pass

# Apache doit avoirs les droits en écriture dans le dossier logs
log_dir ./logs/
# Valeurs possibles pour log_level : DEBUG, INFO, WARNING, ERROR
# Valeur conseillée : production : INFO, développement : DEBUG
log_level DEBUG

# Informations de connexion SMTP
smtp_host host
smtp_port 25
smtp_username histologie@inserm.fr
#smtp_password mdp_ici
#smtp_secure tls

# Dossier dans lequel seront placés les modèles des mails (trouvables dans config.stable.cfg)
mails_dir ./plateau/mails/

# Définit si l'adresse mail de l'accompagnant est obligatoire pour formuler une demande
# Paramètrable dans l'administration
accompagnant_obligatoire 0
